.changepass_container {
    position: relative;
    display: flex;
    /* padding: 1.25rem 5rem 24rem; */
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.changepass_left_menu {
    padding-left: 5px;
    display: block;
    /* width: 180px; */
    flex-shrink: 0;
    background-color: white;
    /* border-right: 1px solid #12b560; */
    background-color: #f3f1f1;


}

.changepass_box_infor {
    width: 85%;
    box-sizing: border-box;
    /* margin-left: 16px; */
    min-width: 0;
    background: #fff;
    /* box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%); */
    border-radius: 0.125rem;
}

.changepass_box_inforx {
    padding: 0 30px 10px;
    position: relative;
    min-height: 100%;
    position: relative;
    min-height: 100%;
    margin-top: 20px;
}

.changepass_top-box {
    border-bottom: 0.0625rem solid #12b560;
    padding: 1.175rem 0;
}

.changepass_top-box>h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    /* text-transform: capitalize; */
    color: #333333;
}

.changepass_borderbox {
    margin-top: 14px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 14px;
    color: #333;
    text-transform: none;
}

.changepass_mainbox {
    padding-top: 1.875rem;
    display: flex;
    justify-content: flex-end;
}

.changepass_leftboxinfor {
    flex: 1;
    margin: 0 auto;
}

.changepass_box {
    align-items: center;
    margin-bottom: 1rem;
}

.changepass_inp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 4px 0px;
}

.changepass_label {
    display: flex;
    width: 40%;
    text-align: right;
    color: rgba(18, 19, 18, 0.8);
    /* text-transform: capitalize; */
    overflow: hidden;
}

.changepass_label>label {
    text-align: left;
    width: 100%;
    padding-right: 20px;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
}

.changepass_inpuif {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.changepass_inpuif>input {
    border: 1px solid #ccc;
    /* box-sizing: border-box;
    box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
    width: 50%;
    height: 30px;
    padding-left: 5px;
    line-height: 1.5rem; */
    padding: 4px 8px;
    width: 400px;
    height: 40px;
}
.changepass_inpuif>input ::placeholder{
    color: red;
    opacity: 0.5;
    display: none;
}
.changepass_txtdisable {}

.changepass_btnsave {
    width: 60%;
    text-align: left;
}

.changepass_btn>span {
    color: rgb(230, 44, 44);
}

.changepass_btnsave>button {
    text-align: center;
    height: 40px;
    background-color: #12b560;
    border: 0px #555 solid;
    border-radius: 0.1rem;
    padding: 5px 10px;
    color: #ffff;
    width: 100px;
    float: right;
    text-transform: uppercase;
}

.changepass_btnsave>button:hover {
    background-color: #f32712
}
