.order_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    padding: 24px 24px 8px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-top: 4px solid #30c466;
    background-color: white;
    /* display: flex; */
    /* justify-content: space-between; */
}

.order_item {
    width: 100%;
    margin-bottom: 50px;
}

.order_inf {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 50px; */
}

.order_container h1 {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height:30px;
    width: 100%;
    border-bottom: 1px solid #12b560;
    margin-bottom: 30px;
}

.order_name
 {
    width: 49%;
}

.order_name{
    margin-right: 2%;
}
.order_email,
.order_address {
    width: 49%;
}

.order_phone {
    width: 49%;
    margin-right: 2%;
}

.order_name input,
.order_email input,
.order_phone input,
.order_address input,
.order_note textarea,
.order_add_detail {
    width: 100%;
    /* height: 45px; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    line-height: 45px;
    /* opacity: 50%; */
}

.order_name input::placeholder,
.order_email input::placeholder,
.order_phone input::placeholder,
.order_address input::placeholder,
.order_address input::placeholder,
.order_note textarea::placeholder,
.order_frm label {
    color: rgb(1 161 75);
    opacity: 0.6;
}

.order_name input:active .order_name input::placeholder {
    color: red;
}

.order_frm {
    width: 48%;
}

.frm_district {
    margin-left: 4%;
}

.order_add_detail {
    position: relative;
    padding-top: 15px;
}

.label_add_detail {
    position: absolute;
    font-size: 14px;
    z-index: 1;
    margin-left: 15px;
    color: rgb(165, 164, 164);
    padding-top: 3px;
}


/*---------------------------*/
.order_note{
    width: 100%;
}
.order_note textarea {
    width: 100%;
}


/*------------------------*/

.order_payment {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.order_payment .payment {
    width: 49%;
    height: 60px;
    /* border: 1px solid rgb(118, 118, 118); */
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.order_payment .payment img {
    height: 80%;
    width: auto;
    position: absolute;
    top: 10%;
    cursor: pointer;
}

.order_payment input {
    margin-left: 10px;
}

.order_payment label {
    font-size: 16px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-weight: normal;
}

.order_payment .payment p {
    padding-left: 60px;
    display: inline-block;
    color: black;
}

.order_payment .payment {
    overflow: hidden;
}


/*-----------------------------------payment_bank_content*/

#payment_bank_content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 15px;
    /* border: 1px solid#ccc; */
    background-color: rgb(1 161 75);
    margin-bottom: 10px;
}


/*--------------------------order_purchase*/

.order_purchase {
    position: relative;
}

.order_inf button {
    width: 140px;
    background-color: rgb(1 161 75);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    height: 40px;
    float: right;
    position: absolute;
    right: 0;
    font-family: 'Open Sans', sans-serif;
}

.order_btn {
    position: relative;
    box-sizing: content-box;
}

.order_btn:before {
    content: "Đặt hàng";
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 50%;
    background-color: rgb(201, 21, 21);
    transition: .25s;
    z-index: 2;
    border-radius: 2px;
    box-sizing: content-box;
}

.order_btn:hover:before {
    width: 100%;
    left: 0;
    right: auto;
    opacity: 1;
}


/*--------------------order_product*/

.order_pdt {
    margin-bottom: 50px;
}
.order_pdt .order_list_pdt table{
    border-top: 0px;
}
.order_pdt .order_list_pdt table td {
    padding: 10px;

}
.order_pdt .order_list_pdt table tr {
    /* border-bottom: 1px solid #ccc; */

}
.order_item .order_pdt .order_list_pdt table td a {
    display: block;
    text-decoration: none;
    color: #131313;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.order_pdt .order_pdt_img {
    border: 1px solid #ccc;
    width: 80px;
}

.order_pdt .order_list_pdt table td img {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.order_item .order_pdt.order_list_pdt p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

/*-----------------------------------order_total*/

.order_total table {
    width: 100%;
    /* border-top: 1px solid #ccc; */
}

.order_total table td {
    width: 50%;
    height: 30px;
}

.order_money {
    text-align: right;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.order_total_title {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* .container form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  } */
  
  .order_payment label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
  }
  
  .order_payment  label input {
    position: absolute;
    left: -9999px;
  }
  
  .order_payment label input:checked + span {
    background-color: #12b560;
    color: white;
  }
  
  .order_payment label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em white;
  }
  
  .order_payment label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
    color: #12b560;
  }
  
  .order_payment label span:hover {
    background-color: #d6d6e5;
  }
  
  .order_payment label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #a0a0a0;
  }