:root {
    --main-width: 90%;
}

#product-category-container {
    /* width: var(--main-width); */
    margin: auto;
    /* padding: 0 calc((100% - var(--main-width)) / 2); */
    /* background-color: white; */
    margin-top: 30px;
    width: 80%;
}

.breadcrumb {
    padding: 6px 0px;
    background-color: inherit;
}

.breadcrumb-arrow {
    padding: 8px 15px;
    margin: 0;
    list-style: none;
    border-radius: 4px;
}

.breadcrumb-arrow li {
    display: inline-block;
}

.breadcrumb-arrow li a:hover {
    color: #01a14b;
}

.breadcrumb-arrow li a {
    text-decoration: none;
    color: #131313;
}

.breadcrumb-arrow>li+li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0"
}

.breadcrumb>.active {
    color: #777
}

.product-category-content {
    display: flex;
    background-color: white;
    /* border-radius: 15px;
    border-top: 4px solid #30c466; */
}

.nav-menu {
    width: 100%;
   
}
.left_nav_menu{
    width: 20%;
    margin-right: 24px;
    padding-top: 25px;
    background-color: #f3f1f1;
}
.nav-menu h4,
.browse-tags h4 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 400;
    /* border-bottom: 1px solid #ccc!important; */
    /* background-color:#f3f1f1 ; */
    /* margin-bottom: 50px; */
    font-size: 16px;
}

.nav-menu-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


/* 
.nav-menu-list>li+li::before {
    border-top: 1px solid #e0e0e0;
} */

.nav-menu-list>li {
    /* border-bottom: 1px solid #e0e0e0; */
}

.nav-item a {
    display: block;
    padding: 15px 25px;
    color: #555555;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item:hover a {
    color: #01a14b;
    text-decoration: none;
}

.product-category-main-content {
    flex: 1;
    margin-left: 50px;
    margin-top: 30px;
}

.main-content-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-category-main-content .product-block{
    width: 25%;
    height: 100%;
    margin-right: 70px;
    margin-bottom: 100px;
}
.main-content-heading h1 {
    font-size: 22px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 16px;
}

.custom-dropdown__select {
    border: 1px solid #ccc;
    /* border-radius: 30px; */
    padding: 4px 8px;
    position: relative;
    width: 200px;
    height: 40px;
}

.custom-dropdown__select::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -0.5em;
    position: absolute;
    pointer-events: none;
}

.custom-dropdown__select::before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0px 30px 30px 0px !important;
    background: #01a14b;
}

.nav-menu .sub-menu {
    display: none;
  }
.browse-tags{
    padding: 10px;
}