.container {
    width: 90%;
    margin: auto;
    background-color: #fff;
    margin-top: 30px;
    /* box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);  */
}

.wapper {
    width: 100%;
    padding: 30px 0;
    display: flex;
    /* border: 0.0625rem solid rgba(0, 0, 0, .09); */
    border-bottom: 1px solid #ccc;
}

.product_img {
    width: 500px;
    padding: 0 15px;
    height: 500px;
}

.box_img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.2s linear 0.5s;
    display: flex;
    justify-content: center;
}

.box_img > img {
    max-width: 100%;
    max-height: 100%;
}

.product_infor {
    width: 60%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    /* border-left: 1px rgb(0 0 0/13%) solid; */
}

.product_name {
    padding: 5px;
    padding-left: 0;
    /* text-transform: capitalize; */
    margin-bottom: 2.675rem;
    border-bottom: 1px #b0b0b0 solid;
}

.price {
    /* background-color: #fafafa; */
    height: 66px;
    line-height: 66px;
    display: inline-block;
    color: #01a14b;
    font-size: 30px;
    padding-bottom: 25px;
    width: 95%;
}

.price span {
    font-weight: 400;
}

.price del {
    color: #b0b0b0;
    font-size: 28px;
    margin-left: 15px;
}

.procduct_detial {
    width: 100%;
}

.tbl {
    width: 100%;
}

.row1 {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

.row span,
.row strong {
    display: inline-block;
    min-width: 100px;
}

.row span {
    padding-left: 15px;
}

.summary {
    text-align: justify;
}

.summary > span {
    font-size: 800;
}

.box {
    margin-top: 2.6rem;
    /* display: flex; */
    width: 100%;
}

.boxwapp {
    display: flex;
    flex-direction: column;
}

.box2 {
    display: flex;
    line-height: 1.02rem;
    align-content: space-around;
}

.select_quantity {
    display: flex;
}

.select_quantity > input {
    max-width: 40px;
    line-height: 1.875rem;
    font-size: 16;
    text-align: center;
    width: 30px;
    color: #333;
}

#ipt {
    width: 47px;
    height: 30px;
}

.quantity {
    line-height: 1.875rem;
    margin-left: 20px;
}

.quantity > span {
    color: #b0b0b0;
    font-size: 15px;
}

.btnsubmit {
    /* display: flex; */
    margin: 1.875rem 0;
    width: 200%;
}

.btnsubmit input {
    font-size: 15px;
    /* text-transform: capitalize; */
    margin-right: 25px;
    padding: 12px;
    border-radius: 0.2rem;
}

#ipt1 {
    background-color: #12b560;
    color: #fff;
    width: 50%;
    border: 1px solid #12b560;
}

#ipt2 {
    background-color: #01a14b;
    border: none;
    color: #fff;
}

.slider_prd_detail {
    width: 500px;
    height: 500px;
    /* border-radius: 10px; */
    overflow: hidden;
}

.slider_prd_detail .slides {
    width: 400%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slider_prd_detail.slide {
    width: 20%;
    transition: 2s;
}

.slider_prd_detail.slide img {
    width: 500px;
    height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40d3dc;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 500px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40d3dc;
}

.w3-content {
    width: 40%;
}

.mySlides2 {
    display: none;
}

.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #12b560;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #12b560;
    user-select: none;
}
.tbl table{

}
.tbl table tr{
  padding: 0;
  padding-bottom: 30px;
}
.tbl table td{
  /* width: 500px; */
  /* text-align: center; */
}
.prd_info{
  border-bottom:1px solid #ccc ;
  padding-bottom: 50px;
}
.prd_info h4{
  padding-top: 20px;
}
.row1_title{
    width: 150px;
}
/* .parent_detail .sub_detail {
    display: none;
} */