
 .register_container {
    display: flex;
    justify-content: center;
    border-radius: 20px;
   
}

.register_wapper {
    border-radius: 0.3rem;
    display: flex;
    max-width: 100%;
    /* flex-direction: column; */
    align-items: center;
    padding: 1rem 0.8rem;
    background: #fff;
    padding: 5px;
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%); */
    width: 60%;
    padding: 30px;
    height: 550px;
}

.register_fa-block {}

.register_tittle {
    margin-bottom: 20px;
    font-size: 20px;
    /* text-align: center; */
}

.register_form {
    padding: 0 10px 10px;
}


/* begin text input */

.register_group {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 15px;
    margin-bottom:2px;
    /*
    min-width: 18rem;
    width: 270px;
    background-color:#fff;
    margin: 15px 0px;
    border: solid 1px #E7E7E7;;
    margin-bottom: 0.register_675rem; */
}

.register_userip {}

.register_loginf {
    display: flex;
    font-size: 15px;
    min-width: 16rem;
    background-color: #fff;
    /* border: solid 1px #d3cece; */
}
.register_icon>i{
    /* width: 10px; */
}
#user{
    
    width: 100%;
}
#user input {
    padding: 5px;
    border: 0px;
    width: 350px;
    height: 50px;
    border-radius: 0.3rem;
    border: 1px solid #ccc;


    /*
    border: solid 1px #E7E7E7;; */
}

.register_passwordipagain {
    margin-top: 3px;
}
#pass{
    width: 100%;
}
#pass>input {
    width: 100%;
    padding: 5px;
    /* // border: solid 1px #E7E7E7; */
    border: 0px;
    width: 350px;
    height: 50px;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
}

/* .register_icon {
    height: 30px;
    background-color: rgb(218, 228, 219);
    border: solid 1px #e4dddd;
    padding: 7px 10px;
} */

#showpass {
    /* margin-left: -20px;;
    height: 37px;
    padding :5px;
    line-height: 30px; */
}

/* #showpass>button {

    width: 34px;
    border: none;
    background-color: #fff;
    position: absolute;
    margin: 1px 2px 1px -35px;
    height: 28px;
    line-height: 30px;
} */

.register_messerror {
    color: red;
    min-width: 1rem;
    font-size: 0.75rem;
    margin: 0;
    padding: 0.25rem 0 0;
    background: unset!important;
}

.register_messerror>span {
    background: none;
    color: red;
}

.register_submit_btn {
    margin-bottom: 20px;
    margin-top: 30px;
}

.register_submit_btn>button {
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top: 5px;
    padding: 10px 20px;
    width: 100%;
    background-color: #12b560;
    border: 0;
    border-radius: 0.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60px;
}

.register_sp1 span {
    display: block;
    padding: 1px 1px 10px;
}

.register_sp1 span>a {
    color: blue;
}

.register_separator {
    /* display: flex; */
    text-align: center;
    overflow: hidden;
}

.register_separator>span {
    position: relative;
    display: inline-block;
}

.register_separator>span::before,
.register_separator>span::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 9999px;
    background-color: #000;
    top: 50%;
    display: block;
}

.register_separator>span::before {
    left: 100%;
    margin-left: 10px;
}

.register_separator>span::after {
    right: 100%;
    margin-right: 10px;
}

.register_orthericon {
    display: flex;
    flex-direction: column;
}

.register_quick_login {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.register_quick_login i {
    padding: 0px 10px 0px;
}

.facebook {
    background-color: #4c69ba;
}

.google {
    background-color: #dd4b39;
}
.register_tittler{
    margin-right: 10%;
    height: 400px;
    height: 100%;
    background-color: #12b560;
    font-size: 20px;
    width: 50%;
}
.register_tittler h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 235px;
}