/* HOME TABS */

.home-tab-title {
    display: flex;
    margin-bottom: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    
}

.home-tab-content {
    margin-bottom: 24px;
}

.home-tab-item {
    min-width: 120px;
    padding: 0px 24px;   
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 1px;
}

.home-tab-item a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px;
}

.home-tab-item span {
    font-size: 14px;
}

.home-tab-item:hover {
    /* background-color: rgba(194, 53, 100, 0.05); */
    /* border-color: rgba(194, 53, 100, 0.1); */
    background-color: #12b560;
}

.home-tab-item:hover a {
    color: #fff;
}
