.infor_container {
    position: relative;
    display: flex;
    /* padding: 1.25rem 5rem 5rem; */
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.infor_left_menu {
    /* padding-left: 5px; */
    /* border-right: 1px solid #12b560; */

    background-color: #f3f1f1;

    display: block;
    /* width: 180px; */
    flex-shrink: 0;
    /* background-color: white; */
}

.infor_box_infor {
    width: 85%;
    box-sizing: border-box;
    /* margin-left: 16px; */
    min-width: 0;
    background: #fff;
    /* box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%); */
    border-radius: 0.125rem;
}

.infor_box_inforx {
    padding: 0 30px 10px;
    position: relative;
    min-height: 100%;
    margin-top: 20px;
}

.infor_top-box {
    border-bottom: 0.0625rem solid #12b560 !important;
    padding: 1.175rem 0;
}

.infor_top-box>h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    /* text-transform: capitalize; */
    color: #333333;
}

.infor_borderbox {
    margin-top: 14px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 14px;
    color: #333;
    text-transform: none;
}

.infor_mainbox {
    padding-top: 1.875rem;
    display: flex;
    justify-content: flex-end;
}

.infor_leftboxinfor {
    flex: 1;
    padding-right: 3.15rem;
    width: 100%;
}

.infor_box {
    align-items: center;
    margin-bottom: 0.875rem;
}

.infor_inp {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
}

.infor_label {
    display: flex;
    width: 40%;
    text-align: left;
    color: rgba(18, 19, 18, 0.8);
    /* text-transform: capitalize; */
    overflow: hidden;
}

.infor_label>label {
    text-align: left;
    width: 100%;
    padding-right: 20px;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
}

.infor_inpuif {
    width: 70%;
    display: flex;
}

.infor_inpuif>input {
    border: 0;
    padding-left: 5px;
    border-bottom: 1px #e8eeeb solid;
}

.infor_txtdisable {}

.infor_input>span {
    display: block;
}

.infor_input input {
    border: 1px solid #ccc;
    padding: 4px 8px;
    width: 400px;
    height: 40px;
}
.infor_input textarea{
    border: 1px solid #ccc;

}
.infor_btn {
    margin-left: 10px;
    padding: 0 5px;
}

.infor_btn>button {
    margin-top: 5px;
    color: blue;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.infor_btn>button:hover {
    color: red;
}

.infor_btnsave {

    /* text-align: left; */
}

.infor_btnsave>button {
    text-align: center;
    height: 40px;
    background-color: #12b560;
    border: 0px #555 solid;
    border-radius: 0.1rem;
    padding: 5px 10px;
    color: #ffff;
    width: 100px;
    float: right;
    text-transform: uppercase;
}

.infor_btnsave>button:hover {
    background-color: #0bd436
}

.infor_imgbox2 {
    width: 40%;
    background-color: transparent;
    border-left: 1px #eeefff solid;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.infor_avatarbox {}

.infor_frame-avatar2 {
    width: 5.25rem;
    height: 5.25rem;
    display: inline-block;
    border-radius: 50%;
    background-color: #efefef;
    color: rgba(0, 0, 0, .09);
}

.infor_avatar-img2 {
    color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.infor_avatar-img2>i {
    color:#868585;
    position: absolute;
    font-size: 2em;
    font-weight: 560;
    top: 50%;
    left: 50%;
    transform: translate(-13px, -17px);
    translate: (-50px, -50px);
    
}

.infor_imgPurchase2>img {
    width: 100%;
    height: 100%;
}

.infor_btn2>button {
    padding: 8px;
    background: none;
    border: 1px #efefef solid;
    border-radius: 0.1rem;
}

.infor_btn2 input {
    width: 26%;
    display: inline-block;
}

.infor_fileimg span {
    display: block;
    color: #868585;
    text-align: center;
    /* padding-left:1.75rem; */
}